<!DOCTYPE html>
<html>
<head>
	<title>NHL Elo</title>
	<link link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>

<div class="pure-table pure-table-bordered">
  <a href="home">Home</a>
  <a href="predictions">Predictions</a>
  <a href="about">About</a>
  <a href="elohistory">Elo History</a>
</div>

<body>
	<header>
		<h1>
			NHL Elo Ratings
		</h1>
	</header>

	<table>
		<tr>
			<th>Team</th>
			<th>Rating</th>
		</tr>

		{% for team, rating in elo_ratings.items() %}
		<tr>
			<th>{{team}}</th>
			<th>{{rating}}</th>
		</tr>
		{% endfor %}
	</table>

</body>
</html>